Repository Sierra-KPI/Quoridor, pull requests merged in 2021-10, with the labels that each got.

#13 VsIG-View-1
  Quoridor.Console.App/ConsoleQuoridor.cs
  Quoridor.Console.App/Program.cs
  Quoridor.Console.App/Quoridor.Console.App.csproj
  Quoridor.Model/AlivePlayer.cs
  Quoridor.Model/Board/Board.cs
  Quoridor.Model/Board/BoardFactory.cs
  Quoridor.Model/Cell/Cell.cs
  Quoridor.Model/Cell/IElement.cs
  Quoridor.Model/Cell/Orientation.cs
  Quoridor.Model/Cell/Wall.cs
  Quoridor.Model/Coordinates.cs
  Quoridor.Model/IPlayer.cs
  Quoridor.Model/Player/AlivePlayer.cs
  Quoridor.Model/Player/Bot.cs
  Quoridor.Model/Player/Coordinates.cs
  Quoridor.Model/Quoridor.Model.csproj
  Quoridor.View.Console/Quoridor.View.csproj
  Quoridor.View.Console/View.cs
  Quoridor.View.Console/ViewOutput.cs
Labels: View

#15 :sparkles: Add Bot
  Quoridor.Model/Coordinates.cs
  Quoridor.Model/Player/AlivePlayer.cs
  Quoridor.Model/Player/Bot.cs
  Quoridor.Model/Player/IPlayer.cs
  Quoridor.Model/Quoridor.cs
Labels: Model

#18 View-2
  Quoridor.Console.App/Program.cs
  Quoridor.Console.App/Quoridor.OutputConsole.App.csproj
  Quoridor.Console.Input/ConsoleInput.cs
  Quoridor.Console.Input/Quoridor.OutputConsole.Input.csproj
  Quoridor.Model/Board/Board.cs
  Quoridor.Model/Board/BoardFactory.cs
  Quoridor.Model/Board/Graph.cs
  Quoridor.Model/Cell/Cell.cs
  Quoridor.Model/Coordinates.cs
  Quoridor.Model/Player/Bot.cs
  Quoridor.Model/Player/IPlayer.cs
  Quoridor.Model/Player/Player.cs
  Quoridor.Model/QuoridorGame.cs
  Quoridor.View.Console/ViewOutput.cs
  Quoridor.sln
Labels: bug, View

#21 VsIG-Controller-1
  Quoridor.Console.App/Program.cs
  Quoridor.Console.App/Quoridor.OutputConsole.App.csproj
  Quoridor.Console.Input/ConsoleInput.cs
  Quoridor.Console.Input/Quoridor.OutputConsole.Input.csproj
  Quoridor.Model/Player/Player.cs
Labels: Controller
